<header>
    <h1 class="p-3 text-center">Productos cargados</h1>
</header>
<main>
    {{#if render}}
    <div class="container">
        <table class="table align-middle bg-dark text-white">
            <thead>
                <tr>
                    <th scope="col">Img</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody>
                {{#each productos}}
                <tr>
                    <td>
                        <img src="{{this.thumbnail}}"
                            alt="{{this.title}}"
                            style="height: 80px;">
                    </td>
                    <td>{{this.title}}</td>
                    <td>$ {{this.price}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <h5 class="text-center text-danger p-2 fw-bold">No hay productos</h5>
        {{/if}}

    </div>
    <div class="container text-center">
        <a href="./../api">
            <button class="btn btn-primary">
                Volver
            </button>
        </a>
    </div>


</main>
<footer>
    <h6 class="text-center p-3">Copyright MV 2022</h6>
</footer>