<header>
    <h1>{{title}}</h1>
</header>
<main>
    <ul>
        <li>{{name}}</li>
        <li>{{surname}}</li>
        <li>{{age}}</li>
        <li>{{email}}</li>
        <li>{{phone}}</li>
    </ul>
</main>
<footer>
    <h5>{{copy}}</h5>
</footer>

